
.dashboard-content {
    display: flex;
  }
  
  .main-content {
    flex-grow: 1;
    padding: 20px;
  }
  
  .user-dashboard {
    background-color: #ededed;
    color: #0563AF;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .user-dashboard p{
    color: black;
  }
 
