
.sidebar {
  width: 260px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #2a2a2a; /* Dark background color */
  color: #ffffff; /* Text color */
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1); /* Add shadow to the sidebar */
  overflow-y: auto; /* Add scroll for excess content */
  transition: transform 0.3s, width 0.3s; /* Add smooth transition */
  z-index: 1; 
}

/* Closed sidebar */
.sidebar.closed {
  width: 60px; 
  overflow-x: hidden; 
}

.sidebar-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.toggle-button {
  background-color: #0563AF; /* Professional accent color */
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  width: 100%; /* Make the button full width */
  font-weight: bold;
  border-radius: 0 5px 5px 0; /* Rounded corners */
  transition: background-color 0.3s;
}

/* Hover effect for the button */
.toggle-button:hover {
  background-color: #0563AF;
}

/* Sidebar title */
.sidebar-content h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

/* Sidebar menu list */
.sidebar-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
  flex-grow: 1; /* Grow to fill available space */
}

.sidebar-content li {
  padding: 10px 0;
  cursor: pointer;
  font-size: 1.1rem;
}

/* Hover effect for menu items */
.sidebar-content li:hover {
  background-color: #0a0a0a; /* Darker background on hover */
}

/* Main content area */
.main-content {
  margin-left: 260px; /* Width of the sidebar when open */
  padding: 20px;
  transition: margin-left 0.3s; /* Smooth transition for margin */
}

.sidebar.closed + .main-content {
  margin-left: 60px; /* Adjust the margin when the sidebar is closed */
}
