/* styles.css */

/* ... (previous styles) */

/* Sidebar styles */
.sidebar {
    width: 260px;
    background-color: #c1681f;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%; /* Set sidebar height to 100% of the viewport */
    z-index: 1000;
    transition: transform 0.3s;
  }
  
  .sidebar.closed {
    transform: translateX(-260px);
  }
  
  /* Sidebar button styles */
  .toggle-button {
    background-color: #c1681f;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  /* Sidebar content styles */
  .sidebar-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
  }
  
  .sidebar-content h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: white;
  }
  
  .sidebar-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  
  .sidebar-content li {
    padding: 10px 0;
    cursor: pointer;
    font-size: large;
  }
  
  .sidebar-content li:hover {
    background-color: #0563AF;
  }
  .button-link {
    text-decoration: none; /* Remove underlines from the Link */
    margin:0; /* Make the link and button inline */
    cursor: pointer;
    font-size: large;
    padding: 10px 0; /* Adjust padding for button size */
    background: none;
    border: none;
    color: #ffffff; /* Set text color to blue */
  }
  
  .button-link button {
    background: none;
    font-size: large;
    border: none;
    color: inherit; /* Inherit text color from the parent link */
  }
  
  .button-link:hover {
    background-color: #0563AF;
  }
  
  /* Adjust main content area */
  .main-content {
    margin-left: 260px; /* Width of the sidebar */
    padding: 20px;
  }
  
  /* Additional styles can be added as needed */
  